@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
.navColor {
  background-color: #40a2e3;
  border-style: dotted;
  border-color: #bbe2ec;
  border-radius: 30px;
  border-width: 5px;
  border-left: 50px;
  border-right: 50px;
}
.navbar {
  margin: 0%;
}
.col {
  height: 400px;
  width: 50px;
}
.child {
  height: 100%;
  width: 100%;
}

.dynamic {
  font-family: "Protest Guerrilla", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: start;
}

.featureContainer {
  height: 100vh;
  width: 85vw;
  background-color: #fffbf5;
  padding: 0%;
}

.conatiner-fluid {
  height: 100vp;
  width: 90vw;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
